<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">Forge</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/index">Get Started!</a>
                </li>
                </ul>
            </div>
        </nav>
        <div class="text-center">
            <img class="img-fluid" src="img/individual.jpg" />
        </div>

<body style="background-color:aliceblue;">
    <div>
        <!-- START Page Header -->
        <div>
            <h1>Skill Development <small>For Everyone</small></h1>
        </div>
        <br>
        <!-- END Page header -->

        <!-- START Three content sections -->
        <div class="row">
            <div class="col-sm">
                <h5 style="font-style: italic;">I Do</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                    enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.
                </p>
            </div>
            <div class="col-sm">
                <h5 style="font-style: italic;">We Do</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                    enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo.
                </p>
            </div>
            <div class="col-sm">
                <h5 style="font-style: italic;">You Do</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                    enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo.
                </p>
            </div>
        </div>
        <!-- END Three content sections -->

        <hr />
        <!-- START Callout box -->
        <div class="jumbotron">
            <h1>Hello, Educators!</h1>
            <p>
                Welcome to Forge. Here you can search for evidence-based practices by category, submit and share your own interventions, add outcomes data to interventions from your classrooms and share resources as a community.
            </p>

            <!-- START Learn More link -->
            <p><a href="#" class="btn btn-outline-primary btn-md">Learn more</a></p>
            <!-- END Learn More link -->
        </div>
        <!-- END Callout box -->

        <hr />

    </div>
</div>

<!-- END of Body wrapping -->
</body>
</html>