<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Started</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Forge</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
            <li class="nav-item">
                <a class="nav-link" href="/index">Categories</a>
            </li>
            </ul>
        </div>
    </nav>
    <div class="text-center">
<!-- <img class="img-fluid" src="individual.jpg" /> -->
    </div>

<body style="background-color:aliceblue;">
    <div>
        <!-- START Page Header -->
        <div>
            <h1>Skill Development <small>CATEGORIES</small></h1>
        </div>
        <br>
    <hr>
        <!-- END Page header -->
    <div class="row">
        <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Classroom Management</h5>
                <p class="card-text">Set your classroom tone with confidence. A leader knows, goes, and shows.  </p>
                <br>
                <br>
                <a href="/index/int-cm" class="btn btn-success">Classroom Management Skills</a>
            </div>
        </div>
        </div>
        <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Diversity and Inclusion</h5>
                <p class="card-text">Equitable education depends on representation and integration.</p>
                <br>
                <br>
                <a href="/index/int-di" class="btn btn-success">Diversity and Inclusion Practices</a>
            </div>
        </div>
        </div>
        <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Personalized Education</h5>
                <p class="card-text">Place cognitive-science research at the core of learning practices- blending what we know about neuroscience and pscyhology.</p>
                <a href="/index/int-ie" class="btn btn-success">Personalized Education Algorithms</a>
            </div>
        </div>
        </div>
    </div>
    </div>
</body>
</div>
</html>